@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.hero {
  min-height: 100vh;
  background: url(./hero.jpeg) center/cover no-repeat;
  display: grid;
  place-items: center;
}

.banner {
  background: #fff;
  width: 36.5rem;
  height: 16.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.banner h1 {
  padding-top: 3.7rem;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: hsl(209, 61%, 16%);
}

.modal-btn {
  margin-top: 2.8rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: #fff;
  background: #49a6e9;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: 2px solid #49a6e9;
  cursor: pointer;
  transition: all 0.3s linear;
}

.modal-btn:hover {
  color: #49a6e9;
  background: #fff;
  transition: all 0.3s linear;
}

.modal-overlay {
  position: fixed;
}
